<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Final project - Introduction to DS
</div>

<div style="text-align: center; background-color: #b1d1ff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Stage 02 - Data preprocessing & Basic exploration
</div>

## Import

In [190]:
import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import isodate

## Read raw data from file

In [191]:
raw_df = pd.read_csv("../data/raw/video_data_raw.csv")
raw_df.head()

,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,favouriteCount,commentCount,duration,definition,caption
0,WkqM0ndr42c,Data School,My top 50 scikit-learn tips,If you already know the basics of scikit-learn...,"['python', 'data science', 'machine learning',...",2023-04-20T14:56:43Z,8210.0,355.0,NaN,45.0,PT2H47M31S,hd,False
1,tWFQqaRtSQA,Data School,21 more pandas tricks,You're about to learn 21 tricks that will help...,"['python', 'pandas', 'data analysis', 'data sc...",2022-05-12T16:20:41Z,43576.0,1379.0,NaN,67.0,PT24M40S,hd,False
2,gd-TZut-oto,Data School,Adapt this pattern to solve many Machine Learn...,Here's a simple pattern that can be adapted to...,"['python', 'machine learning', 'scikit-learn',...",2021-10-28T16:16:39Z,11707.0,435.0,NaN,16.0,PT7M49S,hd,False
3,v2QpvCJ1ar8,Data School,Tune multiple models simultaneously with GridS...,You can tune 2+ models using the same grid sea...,"['python', 'machine learning', 'scikit-learn',...",2021-10-26T13:53:24Z,6453.0,198.0,NaN,14.0,PT5M7S,hd,False
4,sMlsd2CnIf4,Data School,Access part of a Pipeline using slicing,Want to operate on part of a Pipeline (instead...,"['python', 'machine learning', 'scikit-learn',...",2021-10-21T14:49:56Z,2413.0,64.0,NaN,4.0,PT3M38S,hd,False

- In here, we will change the format of `tags` string.

In [192]:
raw_df['tags'] = raw_df['tags'].apply(lambda x: '|'.join(x.strip("[]").replace("'", "").split(', ')) if isinstance(x, str) else x)
raw_df['tags']

0        python|data science|machine learning|scikit-learn
1                 python|pandas|data analysis|data science
2        python|machine learning|scikit-learn|data science
3        python|machine learning|scikit-learn|data science
4        python|machine learning|scikit-learn|data science
                               ...
60027    free fme license|fme license key|fme home lice...
60028    s3connector|api to s3 fme|httpcaller|fme data ...
60029    temppathnamecreater|FME Transformer Guide|temp...
60030    csv to shapefile|csv to geopackage|fme vertexc...
60031    FeatureJoiner|FME FeatureJoiner|joining data w...
Name: tags, Length: 60032, dtype: object

### How many rows and how many columns does the raw data have?

In [193]:
data_video_shape = raw_df.shape
print(f"Video data current shape: {data_video_shape}")

Video data current shape: (60032, 13)

### What is the meaning of each row?

- Answer: Based on the observations of the dataset, we suppose that each row represents a unique set of details regarding individual YouTube videos

### What does each column mean?


<table style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th style="min-width: 10px; width: 30px; background-color: #04B1CC; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">No</th>
      <th style="background-color: #04B1CC; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">Columns</th>
      <th style="background-color: #04B1CC; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">Meaning</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="font-size: 14px; text-align: left;">1</td>
      <td style="font-size: 14px; text-align: left;">video_id</td>
      <td style="font-size: 14px; text-align: left;">Unique identifier for the YouTube video.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">2</td>
      <td style="font-size: 14px; text-align: left;">channelTitle</td>
      <td style="font-size: 14px; text-align: left;">The name of the channel that uploaded the video.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">3</td>
      <td style="font-size: 14px; text-align: left;">title</td>
      <td style="font-size: 14px; text-align: left;">Title of the video.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">4</td>
      <td style="font-size: 14px; text-align: left;">description</td>
      <td style="font-size: 14px; text-align: left;">Description or summary of the video content.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">5</td>
      <td style="font-size: 14px; text-align: left;">tags</td>
      <td style="font-size: 14px; text-align: left;">Keywords or tags associated with the video.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">6</td>
      <td style="font-size: 14px; text-align: left;">publishedAt</td>
      <td style="font-size: 14px; text-align: left;">Date and time when the video was published.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">7</td>
      <td style="font-size: 14px; text-align: left;">viewCount</td>
      <td style="font-size: 14px; text-align: left;">Number of views the video has accumulated.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">8</td>
      <td style="font-size: 14px; text-align: left;">likeCount</td>
      <td style="font-size: 14px; text-align: left;">Count of likes received by the video.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">9</td>
      <td style="font-size: 14px; text-align: left;">favoriteCount</td>
      <td style="font-size: 14px; text-align: left;">Deprecated; used to track how many times viewers added the video to their favorites.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">10</td>
      <td style="font-size: 14px; text-align: left;">commentCount</td>
      <td style="font-size: 14px; text-align: left;">Number of comments posted on the video.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">11</td>
      <td style="font-size: 14px; text-align: left;">duration</td>
      <td style="font-size: 14px; text-align: left;">Length of the video.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">12</td>
      <td style="font-size: 14px; text-align: left;">definition</td>
      <td style="font-size: 14px; text-align: left;">Video resolution or quality (e.g., HD, SD).</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">13</td>
      <td style="font-size: 14px; text-align: left;">caption</td>
      <td style="font-size: 14px; text-align: left;"> Indicates whether closed captions are available for the video.</td>
    </tr>
  </tbody>
</table>

### Does the raw data have duplicate rows?

In [194]:
# retrieve the index
index = raw_df.index
# create a Pandas Series indicating whether each index is duplicated or not
deDupSeries = index.duplicated(keep='first')
# calculate the number of duplicated rows
num_duplicated_rows = deDupSeries.sum()

In [195]:
if num_duplicated_rows == 0:
    print(f"Raw data have no duplicated line !")
else:
    if num_duplicated_rows > 1:
        ext = "lines"
    else:
        ext = "line"
    print(f"Raw data have {num_duplicated_rows} duplicated " + ext)

Raw data have no duplicated line !

### What data type does each column currently have? Are there any columns having inappropriate data types?

In [196]:
raw_df.dtypes

video_id           object
channelTitle       object
title              object
description        object
tags               object
publishedAt        object
viewCount         float64
likeCount         float64
favouriteCount    float64
commentCount      float64
duration           object
definition         object
caption              bool
dtype: object

- We notice that the columns `publishedAt` and `duration` are currently of object type. Given that they represent time periods, it is advisable to convert `publishedAt`  to datetime type. As the 'duration' is in ISO 8601 format, we'll convert it into a float representing the total number of seconds

In [197]:
# convert publishedAt to datetime
raw_df["publishedAt"] = pd.to_datetime(raw_df["publishedAt"])
# convert duration to float
raw_df['duration'] = raw_df['duration'].apply(lambda x: isodate.parse_duration(x))
raw_df['duration'] = raw_df['duration'].dt.total_seconds()

In [198]:
# TEST
raw_df.dtypes

video_id                       object
channelTitle                   object
title                          object
description                    object
tags                           object
publishedAt       datetime64[ns, UTC]
viewCount                     float64
likeCount                     float64
favouriteCount                float64
commentCount                  float64
duration                      float64
definition                     object
caption                          bool
dtype: object

### With each numerical column, how are values distributed?

What is the percentage of missing values?

In [199]:
missing_vals = raw_df.select_dtypes(include='number').isna().sum()
missing_percentage = missing_vals / len(raw_df)
missing_percentage

viewCount         0.000067
likeCount         0.004048
favouriteCount    1.000000
commentCount      0.012793
duration          0.000000
dtype: float64

- We notice that `favouriteCount` does not have any value, so we can remove this feature.

In [200]:
# remove favouriteCount
raw_df = raw_df.drop('favouriteCount', axis=1)

-  `viewCount`, `likeCount` and `commentCount` have little missing value, we'll fill it with the median.

In [201]:
# fill missing value with median
missing_cols = ['viewCount','likeCount','commentCount']
for col in missing_cols:
    raw_df[col] = raw_df[col].fillna(raw_df[col].median())

In [202]:
# TEST
missing_vals = raw_df.select_dtypes(include='number').isna().sum()
missing_percentage = missing_vals / len(raw_df)
missing_percentage

viewCount       0.0
likeCount       0.0
commentCount    0.0
duration        0.0
dtype: float64

### With each categorical column, how are values distributed?

What is the percentage of missing values?

In [203]:
missing_vals = raw_df.select_dtypes(exclude='number').isna().sum()
missing_percentage = missing_vals / len(raw_df)
missing_percentage

video_id        0.000000
channelTitle    0.000000
title           0.000000
description     0.028035
tags            0.189566
publishedAt     0.000000
definition      0.000000
caption         0.000000
dtype: float64

### Min? Max? Are they abnormal?

In [204]:
raw_df.describe()

          viewCount     likeCount  commentCount      duration
count  6.003200e+04   60032.00000  60032.000000  60032.000000
mean   4.848931e+04    1120.36274     69.066015   1496.953575
std    3.585073e+05    8272.34260    529.354710   2475.709199
min    0.000000e+00       0.00000      0.000000      0.000000
25%    6.220000e+02      11.00000      1.000000    293.000000
50%    3.059500e+03      55.00000      5.000000    695.000000
75%    1.601725e+04     332.00000     26.000000   1786.000000
max    3.447645e+07  571358.00000  60054.000000  92218.000000

### Save the processed data

In [205]:
# Save processed data to disk
raw_df.to_csv("../data/processed/" + "video_data_processed.csv", index=False)